@page "/blazor-styled"

<Styled @bind-Classname="@styledClass">
    color: red;
</Styled>

<Styled>
    span {
        color: @color:
    }

    div {
        background: green;
        color: white;
    }

    a {
        background: blue;
    }
</Styled>

<h1 class="@styledClass">⚠️ This page is styled by <a href="https://blazorstyled.io/">BlazorStyled</a>, after you visit it - it will override your styles. EVERYWHERE!</h1>

<span>Colored span</span>
<div>Div with background</div>
<a href="#">Sample link with background</a>

@code {
    private string color = "pink";
    private string styledClass;
}