@page "/blazor-styled"

<h1>⚠️ This page is styled by <a href="https://blazorstyled.io/">BlazorStyled</a>, after you visit it - it will override your styles. EVERYWHERE!</h1>

<span>Colored span</span>
<div>Div with background</div>
<a href="#">Sample link with background</a>

<Styled>
    span {
        color: pink:
    }

    div {
        background: green;
        color: white;
    }

    a {
        background: blue;
    }
</Styled>

@code {}