@page "/blazor-styled"

<Styled @bind-Classname="@styledClass">
    color: red;
</Styled>

<h1 class="@styledClass">
    ⚠️ This page is styled by <a href="https://blazorstyled.io/">BlazorStyled</a>
</h1>

@code {
    private string color = "pink";
    private string styledClass;
}