@page "/"

@inject IJSRuntime jsRuntime;
@inject SurveysService surveysService;

@if (isReady)
{
    <div>

    </div>
}
else 
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-info" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Ładuję...</span>
        </div>
    </div>
}


@code {
    private bool isReady { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var surveyReport = await surveysService.GetReport();
        System.Console.WriteLine();
    }
}