@page "/thank-you"

<h1>Thank you :)</h1>
<h2>Find us on <a target="_blank" rel="nofollow noopener noreferrer" href="github.com/michalczukm/front-net-presentation">github.com/michalczukm/front-net-presentation</a></h2>


@code {

}
